@model Camera

<form asp-action="CreateCamera" method="post" id="cameraForm">
    <div class="form-group">
        <label asp-for="Numero"></label>
        <input asp-for="Numero" class="form-control" />
        <span asp-validation-for="Numero" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Tipo"></label>
        <input asp-for="Tipo" class="form-control" />
        <span asp-validation-for="Tipo" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Prezzo"></label>
        <input asp-for="Prezzo" type="number" step="0.01" class="form-control" />
        <span asp-validation-for="Prezzo" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary mt-2">Salva Camera</button>
</form>
